* {
	outline: #BDBDBD 1px dotted;
}

body {
	background-color: #E6E6E6;
}

.main {
	/*font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;*/
	/*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
	/* font-family: Georgia, Times, "Times New Roman", serif; */
	font-family: Cambria, Georgia, serif;
}

.question {
	color: #585858;
	font-size: 56pt;
}